.filter-sidebar {
  width: 250px;
  padding: 20px;
  border-right: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.customizable-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.customizable-checkbox input {
  margin-right: 10px;
}

.filter-category {
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #ddd;
}

.filter-header {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.arrow {
  margin-left: 10px;
  font-size: 1.8rem;
}

.filter-options {
  margin: -1rem 0 0.4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.single-option {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

@media (max-width: 768px) {
  .filter-sidebar {
    position: absolute; /* Position the sidebar above the products */
    background-color: white; /* Add a background color for visibility */
    z-index: 10; /* Ensure it appears above other elements */
    padding: 1rem; /* Add padding for spacing */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
    transition: top 0.3s ease, opacity 0.3s ease; /* Smooth transition for top and opacity */
    width: 40%;
  }
  .filter-options {
    font-size: 0.7rem;
  }
  .filter-header {
    font-size: small;
  }
  .customizable-checkbox {
    font-size: small;
  }
}
