.filter-sidebar {
  width: 250px;
  padding: 20px;
  border-right: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.customizable-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.customizable-checkbox input {
  margin-right: 10px;
}

.filter-category {
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #ddd;
}

.filter-header {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.arrow {
  margin-left: 10px;
  font-size: 1.8rem;
}

.filter-options {
  margin: -1rem 0 0.4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.single-option {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
