html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.page-header {
  margin: 0 50px 0 50px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.toggle-sidebar-button {
  margin-top: 0.8rem;
  background-color: white;
  color: gray;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 5px;
}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-header {
  display: flex;
  align-items: center;
}

.results {
  padding-top: 0.8rem;
}

.products-header select {
  padding: 0.5rem;
  font-weight: bold;
  border: 1px solid white;
}

.products-header option {
  border: 1px solid white;
}

.main-content {
  margin: 0 50px 0px 50px;
  display: flex;
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 768px) {
  div.page-header,
  div.main-content {
    margin: 0 10px;
  }
}
